<!DOCTYPE html>
<html>
  <head>

    <title>Real Estate Rental System</title>

    <meta charset="utf-8">
    <!-- Viewport mobile tag for sensible mobile support -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    

  </head>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%
    var username = req.session.username || null;
    var uid = req.session.uid || null;
    var role = req.session.role || "";
  %>
  <body onload="onPageLoaded()">

      <div >

          <!--navigation bar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark" >
                <!-- <a class="navbar-brand" href="/" style="color:red; font-weight: bold">xyz.</a> -->
                <%
                if(!username && !uid){
                %>
                  <a class="navbar-brand" href="/user/login" style="color: blue; font-weight: bold;align-content: flex-start;">Sign in</a>
                <%
                }else{
                %>
                <div class="navbar-brand">
                  <a href="/user/information/<%=uid%>" style="color: blue; font-weight: bold;"><%=username%></a> &nbsp;&nbsp; <a href="/user/logout" style="color: crimson; font-weight: bold;align-content: flex-start;">Logout?</a>  </div>
                <%
                }
                %>
              

              
            </nav>
    
              <!--Top adv.-->
              <div class="jumbotron jumbotron-fluid bg-primary">
                    <div class="container">
                      <h1 class="display-4" style="font-weight: 400;color: lightyellow;">Real Estate Rental System</h1>
                      <p class="lead" style="color: lightyellow;">good to see you.</p>
                    </div>
                  </div>
    
          
          <div class="container">
          <%- body %>
          </div>
        </div>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->

    <style type="text/css">
    
    </style>
  </body>
</html>
